@media (prefers-color-scheme: dark) {
    .menu-theme {
        background: black;
        color: #dcb;
        outline: 5px dashed #000;
    }
}

@media (prefers-color-scheme: light) {
    .menu-theme {
        background: white;
        color: black;
    }
}